# Obrigatório
GEMINI_API_KEY=

# SQL Server (opcional)
DB_CONN_STRING=

# Hive (opcional)
HIVE_HOST=
HIVE_PORT=10000
HIVE_DATABASE=
HIVE_USER=
HIVE_PASSWORD=

# Airflow (opcional)
AIRFLOW_API_URL=
AIRFLOW_USERNAME=
AIRFLOW_PASSWORD=